.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 80vh;
  background-color: rgb(207, 207, 207);
}

.container img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 26px;
  width: 100%;
  margin: 0 auto;
  max-width: 370px;
}

.formContainer h1 {
  font-size: clamp(22px, calc(22px + 0.8vw), 40px);
  margin-bottom: 10px;
}

.form input {
  margin: 10px 0px;
  height: 35px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(179, 179, 179);
  font-size: 17px;
  padding-left: 15px;
}

.button {
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: rgb(255, 96, 10);
  color: white;
  font-size: 17px;
  font-weight: 600;
  margin: 20px 0px;
  padding: 10px;
  cursor: pointer;
}

.disableButton {
  width: 100%;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  margin: 20px 0px;
  padding: 10px;
  background-color: gray;
}

.passwordText {
  color: rgba(33, 36, 44, 0.64);
  font-size: 15px;
}

.invalidText {
  color: red;
  font-size: 15px;
}

.invalid {
  background-color: rgb(252, 238, 236);
  border-color: red;
}

.button:hover {
  background-color: rgb(252, 118, 46);
}

.navLink {
  color: rgb(255, 96, 10);
  text-decoration: none;
  font-weight: 600;
}

.navLink:hover {
  color: rgb(249, 123, 56);
}

.demoAccount {
  font-size: 16px;
  color: rgba(33, 36, 44, 0.64);
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    max-height: 680px;
  }

  .container img {
    height: 100%;
  }

  .imageContainer {
    width: 50%;
  }

  .formContainer {
    width: 50%;
    max-width: 400px;
  }
}
