.container {
  padding: 3vh 6vw 8vh;
}

.contentContainer {
  text-align: center;
}

.noExercises {
  padding: 10px;
  text-align: center;
}

.noExercises a {
  text-decoration: none;
  color: #ffa500;
}

.noExercises a:hover {
  color: #f7a100a1;
}

.accordion {
  max-width: 500px;
  margin: auto;
}

.tabs {
  display: none;
}

.updateButton {
  width: 90%;
  max-width: 300px;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  margin: 2vh auto;
  display: block;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #ffa500;
  transition: background-color 0.3s ease;
  color: white;
  font-size: clamp(12px, calc(12px + 0.7vw), 20px);
}

.updateButton:hover {
  background-color: #cc8400;
}

@media (min-width: 768px) {
  .accordion {
    display: none;
  }
  .tabs {
    display: block;
    max-width: 768px;
    margin: auto;
  }
}
