.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  height: 20vh;
  background-color: rgb(30, 30, 30);
  padding: 16px;
  text-align: center;
}

.footer span {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: clamp(15px, calc(15px + 0.8vw), 20px);
}

.footer span:hover {
  color: gainsboro;
}

.footer span:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .footer ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer span {
    margin: 0px 20px;
  }

  .footer span:not(:last-child) {
    margin-bottom: 0px;
  }
}
